* {
    margin: 0.5em;
    padding: 1;
    box-sizing: border-box;
}

body {
    background-color: #9fffff;
    color: rgba(243, 12, 155, 0.966);
    text-align:center;
    font-size: 17px;
}

h1 {
    margin: 2em;
    padding: 1em;
    color: #e70a9d;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
}

.contenedor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.caja {
    color:#c90888;
    background-color: #fad8f8;
    border: none;
    border-radius: 10px;
    width: 600px;
    height: 100px;
}

.boton {
    color: rgb(216, 48, 202);
    padding: 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 10px;
    background: #e70a9dc;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 2s;
   }
   
   .boton:hover {
    box-shadow: 10px 12px 80px -8px #0a0ee7;
   }
   
   .boton:active {
    transform-style: flat;
    box-shadow: 10px 12px 80px -8px #0a0ee7;
}

footer {
    width: 90%;
    height: 80%
    text-align: center;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #04c5c5;
    border: none;
}
